@model IEnumerable<TesteEntrevista.Models.Caminhao>

@{
    ViewData["Title"] = "VOLVO";
}

<h1>Página Inicial</h1>

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Caminhões Cadastrados")
            </th>   
            <th></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoMod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoMod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
